.contacts {}

.contacts__text {
  text-align: center;
  margin-top: 80px;
  font-weight: 700;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: rgba(21, 20, 57, 0.4);
}

.contacts__title {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 124%;
  letter-spacing: -0.01em;
  margin-top: 18px;
  margin-bottom: 41px;
}

.container__middle {
  width: 100%;
  max-width: 575px;
  margin: 0 auto;
}


.contacts .email {
  max-width: 370px;
}

.contacts .btn-send {
  margin-left: auto;
  width: 170px;
  height: 60px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #fff;
  background-color: #25DAC5;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;
}

.cards__container {
  margin-top: 82px;
}

.card {
  max-width: 255px;
}

.card__top {
  font-weight: 700;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.card__bottom {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  color: rgba(21, 20, 57, 0.4);
}

@media (max-width: 890px) {
  .cards__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contacts .email {
    max-width: 100%;
  }

  .contacts .btn-send {
    margin: 0 auto;
  }
}

@media (max-width: 697px) {
  .contacts__title {
    margin-top: 0;
  }

  .cards__container {
    margin-top: 60px;
  }
}